<div class="container applicant-wrapper">
    <h3>承認待ちユーザ一覧</h3>
    <div class="row">
        <% @applies.each do |app| %>
        <div class="col-6">
            
            &nbsp<%= app.user.nickname %><br>
            <%= link_to "承認",  team_user_teams_path(app.team, user_id: app.user.id, apply_id: app.id), method: :post, class:"mini-green-link-btn font-bold text-line-none" %>
            <%= link_to "却下", team_apply_path(app.team, app), method: :delete, class:"mini-red-link-btn font-bold text-line-none" %>
            <br>
        </div>
        <% end %>
    </div>
</div>