


<div class="apply-main">
  <div class='apply-form-wrap'>
            <div class='apply-form-header'>
              <h1 class='apply-form-header-text'>
                承認待ちユーザー一覧
              </h1>
            </div>


            <div class="apply-form-group">
                  <div class='apply-form-text-wrap'>
                     
                          <% @applies.each do |app| %>
                           <li class="apply-login-btn">
            
                                <div class="apply-p"><%= link_to app.user.nickname, user_path(app.user_id) ,class:"apply-name-login-red-btn"%></div>
                                <div class="apply-q">
                                  <div class="apply-p"><%= link_to "承認",  team_user_teams_path(app.team, user_id: app.user.id, apply_id: app.id), method: :post, class:"apply-login-blue-btn" %></div>
                                  <div class="apply-p"><%= link_to "却下", team_apply_path(app.team, app), method: :delete, class:"apply-login-red-btn" %></div>
                                </div>
                            </li>
                          <% end %>
                    
                    
                    </div>
            </div>

   </div>
</div>


    