 <div class="index-main">
    <div class='index-form-wrap'>
        <div class='index-form-header'>
          <h1 class='index-form-header-text'>
            スケジュール一覧
          </h1>
        </div>
      <div class='index-form-group'>
        <%= link_to 'スケジュール追加', new_calender_path ,class:"login-red-btn"%> 
      </div>
    </div>
  </div>

  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
      
    <% events.each do |event| %>
      <% if user_signed_in? %>
          <%## user_teamsテーブル内にevent.team_idとcurrent_user.idが存在すれば表示される%>
          <%## つまりログインユーザーが所属しているチームのスケジュールのみ表示される。%>
          <% if  UserTeam.exists?(team_id: event.team_id, user_id: current_user.id) || current_user.id == event.user_id%>
            <div>
              <%= link_to event.title, calender_path(event) %>
            </div>
          <% end %>
        <% end %> 
    <% end %>
  <% end %>







  