
<%= link_to 'イベント追加', new_calender_path %> #←link_to追記

  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
      
    <% events.each do |event| %>
      <div>
        <%= link_to event.title, calender_path(event) %>
      </div>
    <% end %> 
  <% end %>







  