
<%= link_to 'イベント追加', new_calender_path %> #←link_to追記

  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
      
    <% events.each do |event| %>
      <% if user_signed_in? %>
          <%## user_teamsテーブル内にevent.team_idとcurrent_user.idが存在すれば表示される%>
          <%## つまりログインユーザーが所属しているチームのスケジュールのみ表示される。%>
          <% if  UserTeam.exists?(team_id: event.team_id, user_id: current_user.id)%>
            <div>
              <%= link_to event.title, calender_path(event) %>
            </div>
          <% end %>
        <% end %> 
    <% end %>
  <% end %>







  