/*-------------------------
ここから PC用
----------------------------*/

.top-page-header {
  width: 100vw;
  display: flex;
  justify-content:center;

}
.c{
  width:50vw;
  display: flex;
  justify-content:space-between;
}


h1 a{
  text-decoration: none;
  color:#333333;
  font-size: 30px;

}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
}

.a{
  text-decoration: none;
  line-height: 32px;
  margin:0 1vw  0 2vw ; 
  color: #333333;
  
}

.b{
  text-decoration: none;
  line-height: 32px;
  margin-right: 1vw;
  color: #333333;
}



.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 1vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

/*-------------------------
ここまで PC用
----------------------------*/

/*-------------------------
ここから タブレット用 (画面幅が1024px以下の場合)
----------------------------*/
@media (max-width: 1024px) {
  .c{
    width:100%;
    display: flex;
    justify-content:space-between;
    margin:0 4vw;
  }








}


/*-------------------------
ここまで タブレット用 (画面幅が1024px以下の場合)
----------------------------*/

/*-------------------------
ここから スマフォ用(画面幅が599px以下の場合)
----------------------------*/
@media (max-width: 599px) {
  .c{
    width:100vw;
    display: flex;
    justify-content:space-between;
  }








}


/*-------------------------
ここまで スマフォ用 ここから スマフォ用(画面幅が599px以下の場合)
----------------------------*/