

.top-page-header {
  width: 100vw;
  display: flex;
  justify-content:center;

}
.c{
  width:50vw;
  display: flex;
  justify-content:space-between;
}


h1 a{
  text-decoration: none;
  color:#333333;

}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
}

.a{
  text-decoration: none;
  line-height: 32px;
  margin:0 1vw  0 2vw ; 
  color: #333333;
}

.b{
  text-decoration: none;
  line-height: 32px;
  margin-right: 1vw;
  color: #333333;
}



.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 1vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}